body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../imgs/background-gray.jpg');
}

.loveMob {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    margin-top: 15px;
}

h1 {
    margin-bottom: 10px;
    text-align: center;
    color: rgb(255, 59, 222);
    font-family: "Gaegu", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 70px;
    text-shadow:
        -1px -1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000;
}

.container {
    margin: 30px 20px 30px 20px;
    padding-bottom: 50px;
    width: 90%;
    max-width: 850px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../imgs/background-faces.jpg');
    background-repeat: repeat-x repeat-y;
    border: solid rgb(0, 0, 0);
    border-width: 3px;
}

h3 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: "Gaegu", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 29px;
}

@media screen and (max-width: 768px) {
    h3 {
        font-size: 25px;
    }

    h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 480px) {
    h3 {
        font-size: 20px;
    }

    h1 {
        font-size: 40px;
    }
}

.question {
    background-color: rgb(0, 0, 0, 0);
    width: 80%;
    height: 180px;
    margin: 50px;
    margin-bottom: 0;
}

.question:nth-child(2),
.question:nth-child(3),
.question:nth-child(4),
.question:nth-child(5),
.question:nth-child(6),
.question:nth-child(7) {
    opacity: 0.5;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: "Gaegu", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 29px;
    width: 100px;
    margin: 10px;
    border-radius: 25%;
    box-shadow: 2px 3px 0 #858585;
    cursor: pointer;
}

.buttons1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
}

.yes-button:hover .yes,
.yes-button.clicked .yes,
.no-button:hover .no,
.no-button.clicked .no {
    background: radial-gradient(circle, rgb(255, 59, 222), white);
}

button:active {
    box-shadow: 0 1px #666;
    transform: translateY(2px);
}

.follow-text {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    color: #05f3f3;
    text-shadow:
        -1.5px -1.5px 0 #777777,
        1.5px -1.5px 0 #777777,
        -1.5px 1.5px 0 #777777,
        1.5px 1.5px 0 #777777;
    pointer-events: none;
    z-index: 2;
    opacity: 1;
}

.scroll-indicator {
    font-size: 15px;
    font-weight: bold;
    position: fixed;
    top: 200px;
    right: 5px;
    background-color: rgba(75, 75, 75, 0.5);
    color: #00e0e0;
    padding: 5px;
    border-radius: 5px;
    z-index: 999;
    display: none;
    opacity: 0;
}

@media screen and (max-width: 768px) {
    button {
        font-size: 24px;
        width: 80px;
    }
}

@media screen and (max-width: 450px) {
    .scroll-indicator {
        opacity: 1;
    }

    .follow-text {
        opacity: 0;
    }

    button {
        font-size: 17px;
        width: 60px;
    }
}